In [59]:
import pandas as pd
import numpy as np
import datetime 
import os

In [60]:
#read in the latest dataset
time_series = pd.read_csv("../../../databases/JHU/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
time_series.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,151,151,151,151,152,152,152,154,154,154
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,15,16,16,19,19,19,19,19,21,21
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,2156,2173,2198,2256,2299,2329,2427,2542,2589,2646
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,68,68,69,69,69,69,69,69,69,69

In [61]:
#keep only rows with valid state and county data
time_series = time_series[time_series["Admin2"] != "Unassigned"]
time_series = time_series.dropna(subset = ["Admin2"])
time_series.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
5,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,67,68,74,84,91,93,104,103,110,110
6,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,208,216,222,224,227,231,243,244,254,254
7,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,53,58,59,61,67,69,74,79,79,81
8,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,44,45,46,46,46,46,46,49,50,50
9,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,44,44,44,45,45,45,45,45,45,46

In [62]:
time_series = time_series[~time_series["Admin2"].str.contains("Out of ")]
time_series.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
5,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,67,68,74,84,91,93,104,103,110,110
6,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,208,216,222,224,227,231,243,244,254,254
7,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,53,58,59,61,67,69,74,79,79,81
8,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,44,45,46,46,46,46,46,49,50,50
9,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,44,44,44,45,45,45,45,45,45,46

In [63]:
#define a dataframe with just the county information
all_counties = time_series[["FIPS", "Admin2","Province_State","Lat","Long_"]]
all_counties.head()

     FIPS   Admin2 Province_State        Lat      Long_
5  1001.0  Autauga        Alabama  32.539527 -86.644082
6  1003.0  Baldwin        Alabama  30.727750 -87.722071
7  1005.0  Barbour        Alabama  31.868263 -85.387129
8  1007.0     Bibb        Alabama  32.996421 -87.125115
9  1009.0   Blount        Alabama  33.982109 -86.567906

In [64]:
#define a variable to define the end date of data to be included
startdate = datetime.datetime(2020,3,4)
today = datetime.datetime.today()
offset = 53 + (today-startdate).days
offset

128

In [65]:
#define a dataframe with just the total cases by county each day
dates = time_series.iloc[:,53:offset]
dates.head()

,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
5,0,0,0,0,0,0,0,0,0,0,...,67,68,74,84,91,93,104,103,110,110
6,0,0,0,0,0,0,0,0,0,0,...,208,216,222,224,227,231,243,244,254,254
7,0,0,0,0,0,0,0,0,0,0,...,53,58,59,61,67,69,74,79,79,81
8,0,0,0,0,0,0,0,0,0,0,...,44,45,46,46,46,46,46,49,50,50
9,0,0,0,0,0,0,0,0,0,0,...,44,44,44,45,45,45,45,45,45,46

In [66]:
#define an empty dataframe to transpose the cases by date into a new row for each county-date pair
all_county_time_series = pd.DataFrame(columns = ["FIPS","Admin2","Province_State","Lat","Long_","Confirmed","Date"])

In [67]:
#fill in the dataframe
cols = dates.columns

for i in range(0,len(cols)):
    one_day = pd.DataFrame(columns = ["Confirmed", "Date"])
    one_day["Confirmed"] = dates.iloc[:,i]
    one_day["Date"] = cols[i]
    county_time = all_counties.join(one_day)
    all_county_time_series = all_county_time_series.append(county_time)
#    county_time.append(one_day)
#    print(one_day)
all_county_time_series.head()

     FIPS   Admin2 Province_State        Lat      Long_ Confirmed    Date
5  1001.0  Autauga        Alabama  32.539527 -86.644082         0  3/4/20
6  1003.0  Baldwin        Alabama  30.727750 -87.722071         0  3/4/20
7  1005.0  Barbour        Alabama  31.868263 -85.387129         0  3/4/20
8  1007.0     Bibb        Alabama  32.996421 -87.125115         0  3/4/20
9  1009.0   Blount        Alabama  33.982109 -86.567906         0  3/4/20

In [68]:
all_county_time_series.reset_index(inplace = True)
all_county_time_series.drop("index", axis = 1, inplace = True)

In [69]:
all_county_time_series["Date"] = pd.to_datetime(all_county_time_series.Date)
all_county_time_series.dtypes

FIPS                     float64
Admin2                    object
Province_State            object
Lat                      float64
Long_                    float64
Confirmed                 object
Date              datetime64[ns]
dtype: object

In [70]:
#convert Date column to format that will be uniform across use cases
#all_county_time_series["Date"] = all_county_time_series["Date"].dt.to_period("D")

In [71]:
#add a column with a unique value that can be used to establish a relationship with other datasheets
all_county_time_series["Unique"] = all_county_time_series["Admin2"]+", "+all_county_time_series["Province_State"]+", "+all_county_time_series["Date"].astype(str)

#add a column so location will be readable by power BI
all_county_time_series["Location"] = all_county_time_series["Admin2"]+" County "+all_county_time_series["Province_State"]

In [72]:
all_county_time_series.head()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date,Unique,Location
0,1001.0,Autauga,Alabama,32.539527,-86.644082,0,2020-03-04,"Autauga, Alabama, 2020-03-04",Autauga County Alabama
1,1003.0,Baldwin,Alabama,30.727750,-87.722071,0,2020-03-04,"Baldwin, Alabama, 2020-03-04",Baldwin County Alabama
2,1005.0,Barbour,Alabama,31.868263,-85.387129,0,2020-03-04,"Barbour, Alabama, 2020-03-04",Barbour County Alabama
3,1007.0,Bibb,Alabama,32.996421,-87.125115,0,2020-03-04,"Bibb, Alabama, 2020-03-04",Bibb County Alabama
4,1009.0,Blount,Alabama,33.982109,-86.567906,0,2020-03-04,"Blount, Alabama, 2020-03-04",Blount County Alabama

In [73]:
all_county_time_series.sort_values(by = ["Unique","Date"], inplace = True, ignore_index = True)
all_county_time_series.head()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date,Unique,Location
0,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-04,"Abbeville, South Carolina, 2020-03-04",Abbeville County South Carolina
1,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-05,"Abbeville, South Carolina, 2020-03-05",Abbeville County South Carolina
2,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-06,"Abbeville, South Carolina, 2020-03-06",Abbeville County South Carolina
3,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-07,"Abbeville, South Carolina, 2020-03-07",Abbeville County South Carolina
4,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-08,"Abbeville, South Carolina, 2020-03-08",Abbeville County South Carolina

In [74]:
all_county_time_series["New_Cases"] = all_county_time_series["Confirmed"]-all_county_time_series["Confirmed"].shift(1)
all_county_time_series["Rolling_Avg"] = (all_county_time_series["Confirmed"]+all_county_time_series["Confirmed"].shift(1)+all_county_time_series["Confirmed"].shift(2)+all_county_time_series["Confirmed"].shift(3)+all_county_time_series["Confirmed"].shift(4)+all_county_time_series["Confirmed"].shift(5)+all_county_time_series["Confirmed"].shift(6)+all_county_time_series["Confirmed"].shift(7)+all_county_time_series["Confirmed"].shift(8)+all_county_time_series["Confirmed"].shift(9)+all_county_time_series["Confirmed"].shift(10)+all_county_time_series["Confirmed"].shift(11)+all_county_time_series["Confirmed"].shift(12)+all_county_time_series["Confirmed"].shift(13))/14
all_county_time_series["New_Case_Roll_Avg"] = (all_county_time_series["New_Cases"]+all_county_time_series["New_Cases"].shift(1)+all_county_time_series["New_Cases"].shift(2)+all_county_time_series["New_Cases"].shift(3)+all_county_time_series["New_Cases"].shift(4)+all_county_time_series["New_Cases"].shift(5)+all_county_time_series["New_Cases"].shift(6)+all_county_time_series["New_Cases"].shift(7)+all_county_time_series["New_Cases"].shift(8)+all_county_time_series["New_Cases"].shift(9)+all_county_time_series["New_Cases"].shift(10)+all_county_time_series["New_Cases"].shift(11)+all_county_time_series["New_Cases"].shift(12)+all_county_time_series["New_Cases"].shift(13))/14
all_county_time_series.head()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date,Unique,Location,New_Cases,Rolling_Avg,New_Case_Roll_Avg
0,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-04,"Abbeville, South Carolina, 2020-03-04",Abbeville County South Carolina,NaN,NaN,NaN
1,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-05,"Abbeville, South Carolina, 2020-03-05",Abbeville County South Carolina,0,NaN,NaN
2,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-06,"Abbeville, South Carolina, 2020-03-06",Abbeville County South Carolina,0,NaN,NaN
3,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-07,"Abbeville, South Carolina, 2020-03-07",Abbeville County South Carolina,0,NaN,NaN
4,45001.0,Abbeville,South Carolina,34.223334,-82.461707,0,2020-03-08,"Abbeville, South Carolina, 2020-03-08",Abbeville County South Carolina,0,NaN,NaN

In [75]:
timeframe = 14
all_county_time_series["New_Case_Change"] = (all_county_time_series["New_Case_Roll_Avg"]-all_county_time_series["New_Case_Roll_Avg"].shift(14))/timeframe
all_county_time_series["Normalized_Change"] = all_county_time_series.apply(lambda row: row.New_Case_Change/row.New_Case_Roll_Avg if row.New_Case_Roll_Avg !=0 else 0, axis = 1)
all_county_time_series.tail()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date,Unique,Location,New_Cases,Rolling_Avg,New_Case_Roll_Avg,New_Case_Change,Normalized_Change
236395,46137.0,Ziebach,South Dakota,44.978819,-101.665462,1,2020-05-13,"Ziebach, South Dakota, 2020-05-13",Ziebach County South Dakota,0,0.571429,0.0714286,0.00510204,0.071429
236396,46137.0,Ziebach,South Dakota,44.978819,-101.665462,1,2020-05-14,"Ziebach, South Dakota, 2020-05-14",Ziebach County South Dakota,0,0.642857,0.0714286,0.00510204,0.071429
236397,46137.0,Ziebach,South Dakota,44.978819,-101.665462,1,2020-05-15,"Ziebach, South Dakota, 2020-05-15",Ziebach County South Dakota,0,0.714286,0.0714286,0.00510204,0.071429
236398,46137.0,Ziebach,South Dakota,44.978819,-101.665462,1,2020-05-16,"Ziebach, South Dakota, 2020-05-16",Ziebach County South Dakota,0,0.785714,0.0714286,0.00510204,0.071429
236399,46137.0,Ziebach,South Dakota,44.978819,-101.665462,1,2020-05-17,"Ziebach, South Dakota, 2020-05-17",Ziebach County South Dakota,0,0.857143,0.0714286,0.00510204,0.071429

In [76]:
offset2 = datetime.timedelta(days = 14)
firstdate = startdate + offset2 
firstdate

datetime.datetime(2020, 3, 18, 0, 0)

In [77]:
all_county_time_series = all_county_time_series[all_county_time_series["Date"]>firstdate]
all_county_time_series.head()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date,Unique,Location,New_Cases,Rolling_Avg,New_Case_Roll_Avg,New_Case_Change,Normalized_Change
15,45001.0,Abbeville,South Carolina,34.223334,-82.461707,1,2020-03-19,"Abbeville, South Carolina, 2020-03-19",Abbeville County South Carolina,1,0.0714286,0.0714286,NaN,NaN
16,45001.0,Abbeville,South Carolina,34.223334,-82.461707,1,2020-03-20,"Abbeville, South Carolina, 2020-03-20",Abbeville County South Carolina,0,0.142857,0.0714286,NaN,NaN
17,45001.0,Abbeville,South Carolina,34.223334,-82.461707,1,2020-03-21,"Abbeville, South Carolina, 2020-03-21",Abbeville County South Carolina,0,0.214286,0.0714286,NaN,NaN
18,45001.0,Abbeville,South Carolina,34.223334,-82.461707,1,2020-03-22,"Abbeville, South Carolina, 2020-03-22",Abbeville County South Carolina,0,0.285714,0.0714286,NaN,NaN
19,45001.0,Abbeville,South Carolina,34.223334,-82.461707,1,2020-03-23,"Abbeville, South Carolina, 2020-03-23",Abbeville County South Carolina,0,0.357143,0.0714286,NaN,NaN

In [78]:
offset3 = datetime.timedelta(days = 2)
olddate = today - offset3
olddate

datetime.datetime(2020, 5, 16, 23, 15, 33, 642447)

In [79]:
all_county_time_series_today = all_county_time_series[all_county_time_series["Date"] > olddate]

In [80]:
all_county_time_series = all_county_time_series[["Admin2","Province_State","Location","Unique","Date","Lat","Long_","Confirmed","Rolling_Avg",
                                "New_Cases","New_Case_Roll_Avg","New_Case_Change","Normalized_Change"]]
all_county_time_series_today = all_county_time_series_today[["Admin2","Province_State","Location","Unique","Date","Lat","Long_","Confirmed","Rolling_Avg",
                                "New_Cases","New_Case_Roll_Avg","New_Case_Change","Normalized_Change"]]

In [81]:
#now collect the data by state
state_time_series = all_county_time_series.groupby(["Date","Province_State"])[["Confirmed"]].sum().reset_index()
state_time_series.head()

        Date Province_State  Confirmed
0 2020-03-19        Alabama         78
1 2020-03-19         Alaska          8
2 2020-03-19        Arizona         45
3 2020-03-19       Arkansas          4
4 2020-03-19     California       1005

In [82]:
state_time_series["Unique"] = state_time_series["Province_State"]+", "+state_time_series["Date"].astype(str)
state_time_series.tail()

           Date Province_State  Confirmed                     Unique
3055 2020-05-17       Virginia      30388       Virginia, 2020-05-17
3056 2020-05-17     Washington      18332     Washington, 2020-05-17
3057 2020-05-17  West Virginia       1492  West Virginia, 2020-05-17
3058 2020-05-17      Wisconsin      12543      Wisconsin, 2020-05-17
3059 2020-05-17        Wyoming        754        Wyoming, 2020-05-17

In [83]:
state_time_series.sort_values(by = ["Unique","Date"], inplace = True, ignore_index = True)
state_time_series["New_Cases"] = state_time_series["Confirmed"]-state_time_series["Confirmed"].shift(1)
state_time_series["Rolling_Avg"] = (state_time_series["Confirmed"]+state_time_series["Confirmed"].shift(1)+state_time_series["Confirmed"].shift(2)+state_time_series["Confirmed"].shift(3)+state_time_series["Confirmed"].shift(4)+state_time_series["Confirmed"].shift(5)+state_time_series["Confirmed"].shift(6)+state_time_series["Confirmed"].shift(7)+state_time_series["Confirmed"].shift(8)+state_time_series["Confirmed"].shift(9)+state_time_series["Confirmed"].shift(10)+state_time_series["Confirmed"].shift(11)+state_time_series["Confirmed"].shift(12)+state_time_series["Confirmed"].shift(13))/14
state_time_series["New_Case_Roll_Avg"] = (state_time_series["New_Cases"]+state_time_series["New_Cases"].shift(1)+state_time_series["New_Cases"].shift(2)+state_time_series["New_Cases"].shift(3)+state_time_series["New_Cases"].shift(4)+state_time_series["New_Cases"].shift(5)+state_time_series["New_Cases"].shift(6)+state_time_series["New_Cases"].shift(7)+state_time_series["New_Cases"].shift(8)+state_time_series["New_Cases"].shift(9)+state_time_series["New_Cases"].shift(10)+state_time_series["New_Cases"].shift(11)+state_time_series["New_Cases"].shift(12)+state_time_series["New_Cases"].shift(13))/14
state_time_series.head()

,Date,Province_State,Confirmed,Unique,New_Cases,Rolling_Avg,New_Case_Roll_Avg
0,2020-03-19,Alabama,78,"Alabama, 2020-03-19",NaN,NaN,NaN
1,2020-03-20,Alabama,106,"Alabama, 2020-03-20",28.0,NaN,NaN
2,2020-03-21,Alabama,131,"Alabama, 2020-03-21",25.0,NaN,NaN
3,2020-03-22,Alabama,157,"Alabama, 2020-03-22",26.0,NaN,NaN
4,2020-03-23,Alabama,196,"Alabama, 2020-03-23",39.0,NaN,NaN

In [84]:
timeframe = 14
state_time_series["New_Case_Change"] = (state_time_series["New_Case_Roll_Avg"]-state_time_series["New_Case_Roll_Avg"].shift(14))/timeframe
state_time_series["Normalized_Change"] = state_time_series.apply(lambda row: row.New_Case_Change/row.New_Case_Roll_Avg if row.New_Case_Roll_Avg !=0 else 0, axis = 1)
state_time_series.tail()

,Date,Province_State,Confirmed,Unique,New_Cases,Rolling_Avg,New_Case_Roll_Avg,New_Case_Change,Normalized_Change
3055,2020-05-13,Wyoming,688,"Wyoming, 2020-05-13",13.0,624.785714,10.214286,-0.586735,-0.057443
3056,2020-05-14,Wyoming,701,"Wyoming, 2020-05-14",13.0,634.928571,10.142857,-0.617347,-0.060865
3057,2020-05-15,Wyoming,716,"Wyoming, 2020-05-15",15.0,645.642857,10.714286,-0.566327,-0.052857
3058,2020-05-16,Wyoming,741,"Wyoming, 2020-05-16",25.0,657.214286,11.571429,-0.551020,-0.047619
3059,2020-05-17,Wyoming,754,"Wyoming, 2020-05-17",13.0,669.214286,12.000000,-0.535714,-0.044643

In [85]:
offset2 = datetime.timedelta(days = 14)
firstdate = startdate + offset2 
firstdate

datetime.datetime(2020, 3, 18, 0, 0)

In [86]:
state_time_series = state_time_series[state_time_series["Date"]>firstdate]
state_time_series.head()

,Date,Province_State,Confirmed,Unique,New_Cases,Rolling_Avg,New_Case_Roll_Avg,New_Case_Change,Normalized_Change
0,2020-03-19,Alabama,78,"Alabama, 2020-03-19",NaN,NaN,NaN,NaN,NaN
1,2020-03-20,Alabama,106,"Alabama, 2020-03-20",28.0,NaN,NaN,NaN,NaN
2,2020-03-21,Alabama,131,"Alabama, 2020-03-21",25.0,NaN,NaN,NaN,NaN
3,2020-03-22,Alabama,157,"Alabama, 2020-03-22",26.0,NaN,NaN,NaN,NaN
4,2020-03-23,Alabama,196,"Alabama, 2020-03-23",39.0,NaN,NaN,NaN,NaN

In [87]:
offset3 = datetime.timedelta(days = 2)
olddate = today - offset3
olddate

datetime.datetime(2020, 5, 16, 23, 15, 33, 642447)

In [88]:
state_time_series_today = state_time_series[state_time_series["Date"] > olddate]

In [89]:
state_time_series = state_time_series[["Province_State","Unique","Date","Confirmed","Rolling_Avg",
                                "New_Cases","New_Case_Roll_Avg","New_Case_Change","Normalized_Change"]]
state_time_series_today = state_time_series_today[["Province_State","Unique","Date","Confirmed","Rolling_Avg",
                                "New_Cases","New_Case_Roll_Avg","New_Case_Change","Normalized_Change"]]

In [90]:
all_county_time_series.to_excel("../clean_data/all_county_time_series.xlsx")
state_time_series.to_excel("../clean_data/state_time_series.xlsx")
all_county_time_series_today.to_excel("../clean_data/all_county_time_series_today.xlsx")
state_time_series_today.to_excel("../clean_data/state_time_series_today.xlsx")