In [226]:
import pandas as pd
import numpy as np
import datetime
import os

In [227]:
time_series = pd.read_csv("../../databases/JHU/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
time_series.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,141,141,145,145,145,145,145,145,149,149
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,14,14,14,14,14,14,14,14,15,15
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,1400,1433,1539,1575,1757,1808,1843,1924,1968,2031
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,57,57,66,66,66,66,66,66,66,66

In [228]:
time_series = time_series.dropna(subset = ["Admin2"])
time_series.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20
5,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,40,43,44,42,45,48,53,53,58,61
6,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,171,174,174,175,181,187,188,189,196,205
7,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,37,37,39,42,43,45,45,47,47,51
8,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,42,42,42,42,42,43,42,43,43,44
9,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,34,36,37,39,40,40,40,40,42,44

In [229]:
sites = pd.read_excel("../clean_data/sites.xlsx")
sites.head()

          Site  Region     County      State              Combined_Key
0  Point Beach       3  Manitowoc  Wisconsin  Manitowoc, Wisconsin, US
1  Point Beach       3   Kewaunee  Wisconsin   Kewaunee, Wisconsin, US

In [230]:
time_series_sites = time_series.merge(sites, left_on = "Combined_Key", right_on = "Combined_Key", how = "inner")
time_series_sites.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,Site,Region,County,State
0,84055061,US,USA,840,55061.0,Kewaunee,Wisconsin,US,44.517275,-87.614684,...,15,18,22,22,25,25,Point Beach,3,Kewaunee,Wisconsin
1,84055071,US,USA,840,55071.0,Manitowoc,Wisconsin,US,44.119468,-87.809289,...,13,13,14,16,17,17,Point Beach,3,Manitowoc,Wisconsin

In [231]:
counties_sites = time_series_sites[["FIPS", "Site", "Region", "County","State","Combined_Key"]]
counties_sites.head()

,FIPS,Site,Region,County,State,Combined_Key
0,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US"
1,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US"

In [232]:
startdate = datetime.datetime(2020,3,4)
today = datetime.datetime.today()
offset = 53 + (today-startdate).days
offset

118

In [233]:
dates = time_series_sites.iloc[:,53:offset]
dates.head()

,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,...,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20
0,0,0,0,0,0,0,0,0,0,0,...,11,14,14,13,15,18,22,22,25,25
1,0,0,0,0,0,0,0,0,0,0,...,11,11,11,11,13,13,14,16,17,17

In [234]:
county_time_series = pd.DataFrame(columns = ["FIPS","Site","Region","County","State","Combined_Key","Confirmed", 
                                             "Yesterday", "Day_3","Day_4","Day_5","Day_6","Day_7",
                                             "Day_8","Day_9","Day_10","Day_11","Day_12","Day_13","Day_14","Date"])

In [235]:
#county_time = pd.DataFrame(columns = ["Confirmed"])
cols = dates.columns

for i in range(14,len(cols)):
    one_day = pd.DataFrame(columns = ["Confirmed", "Yesterday", "Day_3","Day_4","Day_5","Day_6","Day_7",
                                             "Day_8","Day_9","Day_10","Day_11","Day_12","Day_13","Day_14","Date"])
    one_day["Confirmed"] = dates.iloc[:,i]
    one_day["Yesterday"] = dates.iloc[:,i-1]
    one_day["Day_3"] = dates.iloc[:,i-2]
    one_day["Day_4"] = dates.iloc[:,i-3]
    one_day["Day_5"] = dates.iloc[:,i-4]
    one_day["Day_6"] = dates.iloc[:,i-5]
    one_day["Day_7"] = dates.iloc[:,i-6]
    one_day["Day_8"] = dates.iloc[:,i-7]
    one_day["Day_9"] = dates.iloc[:,i-8]
    one_day["Day_10"] = dates.iloc[:,i-9]
    one_day["Day_11"] = dates.iloc[:,i-10]
    one_day["Day_12"] = dates.iloc[:,i-11]
    one_day["Day_13"] = dates.iloc[:,i-12]
    one_day["Day_14"] = dates.iloc[:,i-13]
    one_day["Date"] = cols[i]
    county_time = counties_sites.join(one_day)
    county_time_series = county_time_series.append(county_time)
#    county_time.append(one_day)
#    print(one_day)
county_time_series.head()

,FIPS,Site,Region,County,State,Combined_Key,Confirmed,Yesterday,Day_3,Day_4,...,Day_6,Day_7,Day_8,Day_9,Day_10,Day_11,Day_12,Day_13,Day_14,Date
0,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0,0,...,0,0,0,0,0,0,0,0,0,3/18/20
1,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",0,0,0,0,...,0,0,0,0,0,0,0,0,0,3/18/20
0,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0,0,...,0,0,0,0,0,0,0,0,0,3/19/20
1,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",0,0,0,0,...,0,0,0,0,0,0,0,0,0,3/19/20
0,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0,0,...,0,0,0,0,0,0,0,0,0,3/20/20

In [236]:
county_time_series.reset_index(inplace = True)
county_time_series.drop("index", axis = 1, inplace = True)

In [237]:
county_time_series["Date"] = pd.to_datetime(county_time_series.Date)
county_time_series.dtypes

FIPS                   float64
Site                    object
Region                  object
County                  object
State                   object
Combined_Key            object
Confirmed               object
Yesterday               object
Day_3                   object
Day_4                   object
Day_5                   object
Day_6                   object
Day_7                   object
Day_8                   object
Day_9                   object
Day_10                  object
Day_11                  object
Day_12                  object
Day_13                  object
Day_14                  object
Date            datetime64[ns]
dtype: object

In [238]:
county_time_series["Date"] = county_time_series["Date"].dt.to_period("D")

In [239]:
county_time_series.tail()

,FIPS,Site,Region,County,State,Combined_Key,Confirmed,Yesterday,Day_3,Day_4,...,Day_6,Day_7,Day_8,Day_9,Day_10,Day_11,Day_12,Day_13,Day_14,Date
97,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",16,14,13,13,...,11,11,11,11,10,9,9,7,7,2020-05-05
98,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",25,22,22,18,...,13,14,14,11,10,10,10,9,10,2020-05-06
99,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,16,14,13,...,11,11,11,11,11,10,9,9,7,2020-05-06
100,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",25,25,22,22,...,15,13,14,14,11,10,10,10,9,2020-05-07
101,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,17,16,14,...,13,11,11,11,11,11,10,9,9,2020-05-07

In [240]:
county_time_series["New_Cases"] = county_time_series.apply(lambda row: row.Confirmed - row.Yesterday, axis=1)

In [241]:
county_time_series["Rolling_Avg"] = county_time_series.apply(
    lambda row: (row.Confirmed + row.Yesterday + row.Day_3+row.Day_4
                 +row.Day_5+row.Day_6+row.Day_7+row.Day_8+row.Day_9+
                 row.Day_10+row.Day_11+row.Day_12+row.Day_13+row.Day_14)/14, axis = 1)

In [242]:
county_time_series = county_time_series[["FIPS", "Site", "Region", "County", "State", "Combined_Key", "Confirmed", 
                                         "New_Cases", "Rolling_Avg", "Date"]]
county_time_series.tail()

,FIPS,Site,Region,County,State,Combined_Key,Confirmed,New_Cases,Rolling_Avg,Date
97,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",16,2,10.928571,2020-05-05
98,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",25,3,14.500000,2020-05-06
99,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,1,11.642857,2020-05-06
100,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",25,0,15.571429,2020-05-07
101,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,0,12.357143,2020-05-07

In [243]:
county_time_series.sort_values(["Combined_Key", "Date"], inplace = True)
county_time_series.reset_index(inplace = True)
county_time_series.drop("index", axis = 1, inplace = True)
county_time_series.head(10)

,FIPS,Site,Region,County,State,Combined_Key,Confirmed,New_Cases,Rolling_Avg,Date
0,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-18
1,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-19
2,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-20
3,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-21
4,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-22
5,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-23
6,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-24
7,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-25
8,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-26
9,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-27

In [244]:
county_time_series.tail()

,FIPS,Site,Region,County,State,Combined_Key,Confirmed,New_Cases,Rolling_Avg,Date
97,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",13,0,9.785714,2020-05-03
98,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",14,1,10.285714,2020-05-04
99,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",16,2,10.928571,2020-05-05
100,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,1,11.642857,2020-05-06
101,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,0,12.357143,2020-05-07

In [245]:
county_time_series["Temp"] = county_time_series.Rolling_Avg.shift(1)
county_time_series.head()

,FIPS,Site,Region,County,State,Combined_Key,Confirmed,New_Cases,Rolling_Avg,Date,Temp
0,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-18,NaN
1,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-19,0.0
2,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-20,0.0
3,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-21,0.0
4,55061.0,Point Beach,3,Kewaunee,Wisconsin,"Kewaunee, Wisconsin, US",0,0,0.0,2020-03-22,0.0

In [246]:
county_time_series["New_Case_Roll_Avg"] = county_time_series.apply(lambda row: row.Rolling_Avg - row.Temp, axis=1)
county_time_series = county_time_series[county_time_series["Date"] != "2020-03-18"]
county_time_series.tail()

,FIPS,Site,Region,County,State,Combined_Key,Confirmed,New_Cases,Rolling_Avg,Date,Temp,New_Case_Roll_Avg
97,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",13,0,9.785714,2020-05-03,9.285714,0.500000
98,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",14,1,10.285714,2020-05-04,9.785714,0.500000
99,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",16,2,10.928571,2020-05-05,10.285714,0.642857
100,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,1,11.642857,2020-05-06,10.928571,0.714286
101,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,0,12.357143,2020-05-07,11.642857,0.714286

In [247]:
county_time_series = county_time_series[["FIPS","Site","Region","County","State","Combined_Key","Confirmed","Rolling_Avg",
                                       "New_Cases","New_Case_Roll_Avg","Date"]]
county_time_series.tail()

,FIPS,Site,Region,County,State,Combined_Key,Confirmed,Rolling_Avg,New_Cases,New_Case_Roll_Avg,Date
97,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",13,9.785714,0,0.500000,2020-05-03
98,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",14,10.285714,1,0.500000,2020-05-04
99,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",16,10.928571,2,0.642857,2020-05-05
100,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,11.642857,1,0.714286,2020-05-06
101,55071.0,Point Beach,3,Manitowoc,Wisconsin,"Manitowoc, Wisconsin, US",17,12.357143,0,0.714286,2020-05-07

In [248]:
county_time_series.to_excel("../clean_data/site_rolling_avg.xlsx")