In [22]:
import pandas as pd
import numpy as np
import datetime as dt
import os

In [23]:
#update path to covid daily update on sharepoint site
new_data = pd.read_csv("../../../databases/JHU/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/05-08-2020.csv")
new_data.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-09 02:32:35,34.223334,-82.461707,34,0,0,34,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-09 02:32:35,30.295065,-92.414197,142,11,0,131,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-09 02:32:35,37.767072,-75.632346,463,7,0,456,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-09 02:32:35,43.452658,-116.241552,721,19,0,702,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-09 02:32:35,41.330756,-94.471059,3,0,0,3,"Adair, Iowa, US"

In [24]:
new_data_nc = new_data[new_data["Province_State"] == "North Carolina" ]
new_data.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-09 02:32:35,34.223334,-82.461707,34,0,0,34,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-09 02:32:35,30.295065,-92.414197,142,11,0,131,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-09 02:32:35,37.767072,-75.632346,463,7,0,456,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-09 02:32:35,43.452658,-116.241552,721,19,0,702,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-09 02:32:35,41.330756,-94.471059,3,0,0,3,"Adair, Iowa, US"

In [25]:
new_data_nc = new_data_nc[["FIPS","Admin2","Province_State","Lat", "Long_", "Confirmed", "Last_Update"]]
new_data_nc.head()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Last_Update
22,37001.0,Alamance,North Carolina,36.043470,-79.399761,149,2020-05-09 02:32:35
31,37003.0,Alexander,North Carolina,35.922380,-81.177519,8,2020-05-09 02:32:35
38,37005.0,Alleghany,North Carolina,36.493609,-81.128570,7,2020-05-09 02:32:35
64,37007.0,Anson,North Carolina,34.974032,-80.099533,37,2020-05-09 02:32:35
82,37009.0,Ashe,North Carolina,36.432962,-81.498627,7,2020-05-09 02:32:35

In [26]:
new_data_nc["Last_Update"] = pd.to_datetime(new_data_nc.Last_Update) 
new_data_nc.dtypes

FIPS                     float64
Admin2                    object
Province_State            object
Lat                      float64
Long_                    float64
Confirmed                  int64
Last_Update       datetime64[ns]
dtype: object

In [27]:
new_data_nc["Date"] = new_data_nc["Last_Update"].dt.to_period("D")

In [28]:
offset = dt.timedelta(days = 1)
new_data_nc["Date"] = new_data_nc["Date"].apply(lambda x: x-offset)
new_data_nc.drop("Last_Update", axis = 1, inplace = True)

In [29]:
new_data_nc.head()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date
22,37001.0,Alamance,North Carolina,36.043470,-79.399761,149,2020-05-08
31,37003.0,Alexander,North Carolina,35.922380,-81.177519,8,2020-05-08
38,37005.0,Alleghany,North Carolina,36.493609,-81.128570,7,2020-05-08
64,37007.0,Anson,North Carolina,34.974032,-80.099533,37,2020-05-08
82,37009.0,Ashe,North Carolina,36.432962,-81.498627,7,2020-05-08

In [30]:
nc_time_series = pd.read_excel("../clean_data/nc_time_series.xlsx", index_col = 0)

In [31]:
nc_time_series.tail()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date
5197,37195,Wilson,North Carolina,35.706255,-77.917978,192,2020-05-07
5198,37197,Yadkin,North Carolina,36.162226,-80.662394,33,2020-05-07
5199,37199,Yancey,North Carolina,35.900792,-82.312372,7,2020-05-07
5200,80037,Out of NC,North Carolina,0.000000,0.000000,0,2020-05-07
5201,90037,Unassigned,North Carolina,0.000000,0.000000,0,2020-05-07

In [32]:
nc_time_series = nc_time_series.append(new_data_nc)
nc_time_series.tail()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date
2824,37191.0,Wayne,North Carolina,35.364381,-78.000273,715,2020-05-08
2873,37193.0,Wilkes,North Carolina,36.208413,-81.162329,198,2020-05-08
2887,37195.0,Wilson,North Carolina,35.706255,-77.917978,199,2020-05-08
2931,37197.0,Yadkin,North Carolina,36.162226,-80.662394,39,2020-05-08
2935,37199.0,Yancey,North Carolina,35.900792,-82.312372,7,2020-05-08

In [33]:
nc_time_series.reset_index(inplace = True)
nc_time_series.tail()

,index,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date
5297,2824,37191.0,Wayne,North Carolina,35.364381,-78.000273,715,2020-05-08
5298,2873,37193.0,Wilkes,North Carolina,36.208413,-81.162329,198,2020-05-08
5299,2887,37195.0,Wilson,North Carolina,35.706255,-77.917978,199,2020-05-08
5300,2931,37197.0,Yadkin,North Carolina,36.162226,-80.662394,39,2020-05-08
5301,2935,37199.0,Yancey,North Carolina,35.900792,-82.312372,7,2020-05-08

In [34]:
nc_time_series.drop("index", axis = 1, inplace = True)
nc_time_series.head()

,FIPS,Admin2,Province_State,Lat,Long_,Confirmed,Date
0,37001.0,Alamance,North Carolina,36.043470,-79.399761,0,2020-03-18
1,37003.0,Alexander,North Carolina,35.922380,-81.177519,0,2020-03-18
2,37005.0,Alleghany,North Carolina,36.493609,-81.128570,0,2020-03-18
3,37007.0,Anson,North Carolina,34.974032,-80.099533,0,2020-03-18
4,37009.0,Ashe,North Carolina,36.432962,-81.498627,0,2020-03-18

In [35]:
nc_time_series.to_excel("../clean_data/nc_time_series.xlsx")